.save-progress__wrapper {
  // position: absolute;
  // bottom: 28px;
  // right: 21px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.save-progress__descritpion {
  margin-left: 5px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--login-blue-color);
}
