:root {
  --primary-white-color: #ffffff;
  --secondary-white-color: #fafafa;
  --third-white-color: #f5f5f5;
  --primary-grey-color: #4c4d4f;
  --secondary-grey-color: #848484;
  --third-grey-color: #d9d9d9;
  --fourth-grey-color: #d8d9da;
  --fifth-grey-color: #c1c1c1;
  --sixth-grey-color: #717275;
  --seventh-grey-color: #333333;
  --eighth-grey-color: #b3b5b8;
  --tenth-grey-color: #eaeaea;
  --grey-color-with-alpha: rgba(217, 217, 217, 0.5);
  --primary-red-color: #e31937;
  --login-red-color: #e44b3f;
  --login-blue-color: #0cabc7;
  --disabled-button-blue: #0cabc7;
  --orange-color: #f68428;
  --transparent: rgba(0, 0, 0, 0);
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
  --bs-accordion-border-width: 0;

  

  
}
